*{
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
    color: white;
}
html{
    scroll-behavior: smooth;
}
body{
    // height: 300vh;
}
h1{
    font-size: 50px;
}
.bcg{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('../../img/bodybg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.4);
}
.menu{
    position: fixed;
    top: 15px;
    width: 100%;
    height: 6vh;
    z-index: 9998;

    // border: 1px solid red;
    // overflow: hidden;

    ul{
        text-align: center;
        border: 1px solid white;
        opacity: 0;
        position: fixed;
        top: 13px;
        left: 15px;
        left: calc(100% - 15px);
        width: 0;
        transition: .4s;
        transition-delay: 0.4s;
        height: 6%;
        min-height: 48px;
        box-shadow: none;

        // transform: translateX(calc(100% - 15px));

    }
    ul li{
        cursor: pointer;
        display: inline-block;
        width: 15vw;
        height: 6vh;
        line-height: 6vh;
        font-size: 22px;
        text-align: center;
        opacity: 0;
        transition: opacity .4s, background-color .4s;
        
        // transiton-property: opacity;
        // color: black;
        // background-color: cornflowerblue;
        // transition-duration: .4s;
        // transition-property: background-color;
        // transition-duration: .4s;

    }
    ul.open{
        left: 15px;
        border: 1px solid rgba(255, 255, 255, 0.904);
        box-shadow: 3px 3px white;
        width: 97%;
        transition: .7s;
        opacity: 1;

        // transform: translateX(15px);

        li{
            opacity: 1;
            transition-property: opacity;
            transition-duration: .5s;
            transition-delay: 0.7s;
        }
    } 
    .menu__button{
        width: 35px;
        height: 45px;
        position: fixed;
        top: 20px;
        left: calc(100% - 70px);
        z-index: 9999;
        cursor: pointer;

        // border: 1px solid red;

        span{
            display: block;
            position: relative;
            height: 5px;
            width: 100%;
            background-color: white;
            border-radius: 9px;
            transition: .25s ease-in-out;
        }
        @for $i from 1 through 3{
            span:nth-of-type(#{$i}){
                top: calc(6px * #{$i});
                transform-origin: left center;
            }
        }
    }
    .menu__button.open{
        span:nth-of-type(1){
            transform: rotate(45deg);
            top: 4px;
            // left: 6px;
        }
        span:nth-of-type(2){
            width: 0%;
            opacity: 0;
        }
        span:nth-of-type(3){
            transform: rotate(-45deg);
            // top: 9px;
            // left: 6px;
        }
    }
}

.content{
    text-align: center;
    z-index: 0;
    .content__introduction {
        height: 100vh;

        // line-height: 100vh;
        // margin-top: 50vh;
        // transform: translateY(40%);

        span.siteName{
            display: block;
            font-size: 9vh;
            word-spacing: -2vh;
            position: relative;
            top: 40vh;
            transform: translateY(-50%);
        }
        p.intro{
            width: 50%;
            position: relative;
            top: 35vh;
            left: 50vw;
            transform: translateY(-50%);
            transform: translateX(-50%);
            font-size: 20px;
            line-height: 30px;
        }
    }

    .content__education{
        text-align: left;
        box-sizing: border-box;
        height: 100vh;
        padding: 35px;
        opacity: 1;
        transition: 0.4s;
        // background-color: rgba(49, 47, 47, 0.8);
        // margin-top: 40vh;
        img{
            width: 30%;
            float: left;
            z-index: 0;
            transform: translateY(-50%);
            top: 50%;
            position: relative;
        }
        .about{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            float: left;
            width: 60%;
            margin-left: 40px;
            p{
                margin-top: 20px;
                line-height: 30px;
            }
        }
    }
    .education--active{
        opacity: 1;
    }
    .content__tech{
        height: 100vh;
        opacity: 1;

        // margin-top: 35vh;
        // transition: 0.4s;

        .wrapp{
            display: grid;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            img{
                width: 150px;
            }
            grid-row-gap: 50px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 100px 200px 200px;

            // border: 2px solid #BADA55;
            
            h1{
                grid-column: 1 / 4;        
            }
        }
    }
    .tech--active{
        opacity: 1;
    }

}