*{
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
}
body{
    background-color: royalblue;
}
.starter{
    background-color: royalblue;
    color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    .startGame{
        position: relative;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
        width: 20vw;
        height: 5vh;
        border: none;
        background-color: white;
        border-radius: 25px;
        font-size: 3vh;
        line-height: 5vh;
        cursor: pointer;
    }
    .endScore{
        position: absolute;
        top: 20vh;
        left: 50%;
        transform: translate(-50%);
        font-size: 4vh;
        display: none;
    }
}

.startGame:focus{
    outline: none;
}
.content{
    // border: 1px solid red;
    color: white;
    background-color: royalblue;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transform: none;
    @media only screen and (min-width: 640px) {
        width: 50vw;
        height: 80vh;
        top: 5vh;
        left: 50%;
        transform: translateX(-50%);
    }
    .progress{
        border: 1px solid white;
        background-color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4vh;
        @media only screen and (max-width: 640px) {
            bottom: 10%;
        }
        .bar{
            width: 0%;
            height: 4vh;
            background-color: royalblue;
        }
    } 
    .score{
        display: inline-block;
        font-size: 4vh;
        position: relative;
        top: 3vh;
        left: 50%;
        transform: translateX(-50%);
    }
    .content__target{
        // border: 1px solid red;
        width: 70%;
        height: 30vh;
        position: relative;
        top: 10%;
        left: 50%;
        text-align: center;
        line-height: 25vh;
        transform: translateX(-50%);
        .eq{
            display: inline-block;
            font-size: 10vh;
            animation-name: none;
            animation-duration: 0.5s;
        }
    }
    .answers{
        position: relative;
        top: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        // border: 2px solid red;
        @media only screen and (max-width: 640px) {
            top: 14%;
        }
    }
    
    .result{
        height: 12vh;
        border: none;
        border-radius: 25px;
        background-color: #fff;
        font-size: 4vh;
        line-height: 4vh;
        display:block;
        cursor: pointer;
    }
    .result:focus{
        outline: none;
    }
}

@-webkit-keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}